<h1>写真一覧</h1>

<ul class="photo-list">
  <% @photos.each do |photo| %>
    <li>
      <figure>
        <figcaption>
          <%= photo.title %>
        </figcaption>
        <%= image_tag url_for(photo.image), height: "160", alt: photo.title %>
      </figure>
    </li>
  <% end %>
</ul>